<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
</head>
<body>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Slightly</a></li>
            <li><a href="{{ url_for('features') }}">Features</a></li>
            <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            <li><a href="{{ url_for('about_us') }}">About Us</a></li>
            <li><a href="{{ url_for('demo') }}">Demo</a></li>
        </ul>
    </nav>
    <h1>Sign In to Slightly</h1>
    <p>This is the Sign In page.</p>
</body>
</html>